.nav-admin{
    margin-top: 10%;
    margin-left: 1%;
    width:200px;
    height: 50%;
    border-radius: 20px;
    background: $nav-color;

    .nav-admin-list{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items:flex-start;
        
        .nav-admin-item{
            margin-top: 35px;
                overflow-y: hidden;
            
            
            .nav-admin-lien{
                color: $texte-color;
                text-decoration: none;
                font-size: 18px;
                font-family:Georgia, 'Times New Roman', Times, serif;
                
            }
        }
    }
    .separation-list{
        height: 2px;
        width: 100%;
        background: #000;
    }
}