.rendez-vous-selectionne{
    margin-top: 10%;
}
.container-rdv-form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px red;
}

.reservation {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    // background: green;
}

.card {
    width: 15%;
    padding: 10px;
    border: solid 1px #333;



}

.btn-retour {
    font-size: 30px;
    margin-left: 30px;
}

.containerr {
    width: 300%;
}